* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;


}

.brand-title {
    font-size: 2.0rem;
    margin: .9rem;
    font-family: Georgia, serif;
    color: brown;
    margin-left: 30px;

}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;
    cursor: pointer;

}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;


}

.navbar-links li a:hover {
    background-color: black;
    color: brown;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}


@media (max-width: 450px) {
    .toggle-button {
        display: flex;
        transition: .2 ease-out;
    }

    .navbar-links {
        display: none;
        width: 100%;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;


    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;

    }

    .navbar-links li a {
        padding: .5rem 0rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: Georgia, serif;
    font-size: small;
    padding-top: 30px;

}

.discreption {
    text-align: center;
    color: whitesmoke;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 4rem;
    width: 100%;

}


.wine-image {
    width: 100%;


}


.email-box {
    border-radius: 1rem;
    text-align: center;
    width: 50%;

}

.button {
    border-radius: .5rem;
    font-size: small;
    background-color: rgba(255, 0, 0, 0.303);
    color: white;
    margin: 10px;
    padding: 6px;
    cursor: pointer;
}



@media (max-width:450px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
}

.wine-blog {
    background-color: rgb(249, 250, 251);
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.wine-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.new-arrivals {
    color: rgb(165, 160, 160);
}

.wine-saying {
    color: rgb(136, 72, 72);
    margin-top: 1px;
}

.premium-wine {
    color: rgb(165, 160, 160);
    margin-top: 1px;

}

.card-container {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    flex-wrap: wrap;
    background-color: rgb(249, 250, 251);
    padding-bottom: 18px;


}

.card {
    background: white;
    width: 260px;
    height: 540px;
    margin: 15px;
    font-size: small;
    box-shadow: -1px 0 10px black;
    border-radius: 10px;

}

.card-container :hover {
    background-color: lightgray;
    transform: scale(1.02);
    transition: all .5s ease;
}

.card :hover {
    background-color: lightgray;
    color: brown;

}

.card-image {
    height: 350px;
    margin-bottom: 1px;
    background-size: cover;
    border-radius: 10px;

}

.card h3 {
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.card h4 {
    text-align: center;
    font-weight: bolder;
    font-size: small;
}

.card p {
    padding: 10px;
    text-align: center;
}

.card-1 {
    background-image: url("https://images.unsplash.com/photo-1599113654858-e437e8f87fef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzYyfHx3aW5lJTIwYm90dGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
}

.card-2 {
    background-image: url("https://images.unsplash.com/photo-1568446129858-a1fe87f33d04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHdpbmUlMjBib3R0bGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60ne-2.jpg")
}

.card-3 {
    background-image: url("https://images.unsplash.com/photo-1588867832678-708d88fda0bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fHdpbmUlMjBib3R0bGUlMjByb3NlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
}

.container2 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family: Georgia, serif;
    font-size: small;
    padding-top: 1px;
    flex-wrap: wrap;


}



.discreption2 {
    text-align: center;
    color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 1rem;
    margin: 20px;
    width: 40%;
    object-fit: cover;



}

.discreption2 h2 {
    margin-top: 1px;
}


.wine-image2 {
    width: 150%;
    height: 300px;
    object-fit: cover;

}

a.contact-us-button {
    background-color: rgba(255, 0, 0, 0.303);
    color: white;
    font-size: medium;
    font-family: inherit;
    border: 2px solid black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}


@media (max-width:450px) {
    .container2 {
        flex-direction: column;
        align-items: center;


    }

    .discreption2 {
        font-size: x-small;
        margin: 50px;
        padding: 1px;

    }


}

.footer {
    background-color: rgb(249, 250, 251);
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.site-map {
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.icons {
    margin: 10px;
    font-size: large;
}

.instagram {
    color: darkgray;
    text-decoration: none;
    margin: 0px 2px;

}

.instagram :hover {
    color: rgb(74, 0, 0);
}

.twitter {
    color: darkgray;
    text-decoration: none;
    margin: 0px 2px;

}

.twitter :hover {
    color: lightblue
}

.whatsapp {
    color: darkgray;
    text-decoration: none;
    margin: 0px 2px;

}

.whatsapp:hover {
    color: forestgreen
}

.facebook {
    color: darkgray;
    text-decoration: none;
    margin: 0px 2px;

}

.facebook:hover {
    color: royalblue
}


.company h4 {
    display: flex;
    justify-content: center;
    color: rgb(164, 170, 182);

}


.get-help h4 {
    display: flex;
    justify-content: center;
    color: rgb(164, 170, 182);

}


.wine h4 {
    display: flex;
    justify-content: center;
    color: rgb(164, 170, 182);

}

.company li a {
    text-decoration: none;
    font-size: small;
    color: rgb(182, 182, 180);
}

.company li {
    list-style: none;
}

.company li :hover {
    color: brown;
}

.company ul a {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}


.get-help li a {
    text-decoration: none;
    font-size: small;
    color: rgb(182, 182, 180);
}

.get-help li {
    list-style: none;
}

.get-help li :hover {
    color: brown;
}

.get-help ul a {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.wine li a {
    text-decoration: none;
    font-size: small;
    color: rgb(182, 182, 180);
}

.wine li {
    list-style: none;
}

.wine li :hover {
    color: brown;
}

.wine ul a {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.copyright {
    margin-top: 150px;
    color: gray;
    font-size: small;

}

@media (max-width:450px) {
    .footer {
        flex-direction: column;
        align-items: center;

    }

    .site-map {
        font-size: small;
        margin: 50px;
        padding: 1px;
        display: inline-block;
        text-align: center;

    }

    .icons {
        font-size: medium;
        margin-top: 30px;

    }




}